@use "@/assets/styles/ui.scss";

.logo-area {
	color: ui.$colors-ui-white;
}

.login-page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-box {
	width: 80vh;
	height: 60vh;
	border: 1px ui.$colors-ui-black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: ui.$colors-ui-blue;
	box-shadow: 4px 8px ui.$colors-ui-grey;
	row-gap: ui.$spacing-medium-large;

	& div,
	p {
		color: ui.$colors-ui-white;
	}
}

.input-container {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: ui.$spacing-medium;
}

.button-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: ui.$spacing-small;
	//padding: ui.$spacing-medium;
}

.v-label {
	color: black !important;
}

.v-text-field input {
	color: black !important;
}

.popup-card {
	background-color: ui.$colors-ui-blue !important;
	color: white !important;
}
